@import "tailwindcss";

body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #260045, #011b48, #00030b);
    color: white;
    font-family: "Poppins", sans-serif;
}

html,
body,
#root {
    min-height: 100vh;
}

.img-soft-left {
    -webkit-mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        #000 7%,
        #000 100%
    );
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 7%, #000 100%);
}

@keyframes imageEnter {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes fadeUpText {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-imageEnterFloat {
    animation: imageEnter 0.8s ease-out forwards,
        float 6s ease-in-out infinite 0.8s;
}

.animate-fadeUpText {
    animation: fadeUpText 0.8s ease-out 0.3s forwards;
    opacity: 0;
}
